
li a:hover {
    background-color: #AD2AB2;
}
	
.boxed{
	border-radius: 28px;  
	font-size: 15px; 
	background: #9932CC; 
	padding: 20px 60px 15px 60px; 
	margin: auto; 
	width: 400px; 
	line-height: 70%;  
	text-align: center; 
}




body {
    background-image: url(1.jpg); 
	background-size: 100%; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

body b{
	background-color: purple; 
	height: 100vh; 
	background-position: center; 
    background-size: center; 

}

.form c{
	position: relative; 
	z-index: 1; 
	background: #ffffff; 
	max-width: 360px; 
	margin: 0 auto 100px;
	padding: 45px; 
	text-align: center; 
}
/*.form input[type = name]{
    width: 55%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: context-box;
    border: none;
    background-color: #FFFFFF;
	border-radius: 25px;
    color: purple;
}*/ 


li {
    float: left;
	font-family: 'Advent Pro';font-size: 14px;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h1 {
    font-family: 'Advent Pro';font-size: 50px;
	color: white; 
}

h2 {
    font-family: 'Mako';font-size: 12px;
	color: white; 
}

p{
    font-family: 'Mako';font-size: 14px;
	color: white; 
}


 .register{
    position: absolute; 
	top: calc (50%-75px); 
	left: calc(50%-50px); 
	height: 150px; 
	width: 50px; 
	padding: 10px;
}

.register input[type=text] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #FFFFFF;
	border-radius: 25px;
    color: purple;
}
.register input[type=button] {
    width: 25%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #FFFFFF;
	border-radius: 25px;
    color: purple;
}


.login input[type=text] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #FFFFFF;
	border-radius: 25px;
    color: purple;
}

.login input[type=password] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #FFFFFF;
	border-radius: 25px;
    color: purple;
}
.login input[type=button] {
    width: 35%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #FFFFFF;
	border-radius: 25px;
    color: purple;
	font-family: 'Mako'; 
	font-size: 12px; 
	
}
.login input[type=button]:hover {
	opacity: 0.5;
}

.login input[type=reset]:hover{
	opacity: 0.5;
}
.login .message{
	margin: 15px 0 0; 
	color: palevioletred; 
	font-size: 12px; 
}

.login .message a{
	color: blue; 
	text-decoration: none; 
}


register input[type=button]:hover{
	opacity: 0.5;
}

.register {
	display: none; 
}
.login input[type=reset] {
    width: 30%;
	padding: 20px 60px 15px 60px; 
    box-sizing: context-box;
    border: none;
    background-color: #FFFFFF;
	border-radius: 25px;
    color: purple;
	align-items: center; 
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
